.cont {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #ededed;
}

@media (max-width: 768px) {
  .cont {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.title h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 100;
}

.imgcontainer {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-bottom: 30px;
  height: 400px;
  width: 300px;
}

.imgcontainer img {
  min-width: 250px !important;
  border-radius: 7px !important;
  border: 1px solid #bebebe !important;
  object-fit: cover;
}

.abouttext {
  margin-bottom: 35px;
}

.greetings {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 1rem;
}

.greetings b {
  font-size: 22px;
  margin-right: 10px;
}

.name {
  font-size: 28px;
  font-weight: 100;
  margin-top: 0;
  margin-bottom: 18px;
}

.content {
  margin-bottom: 35px;
}

.content > * {
  margin-bottom: 1rem;
}

.content p {
  font-size: 16px;
  text-indent: 1.5em;
  text-align: justify;
}

.content p::first-letter {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.content p a {
  text-decoration: none;
  color: #005cd4;
}
