.cont{
  position: fixed;
  z-index: 100 !important;
  width: 100%;
  background-color: #202020;
}

.space{
 height: 60px;
}

.nav{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  height: 60px;
}

.menu{ 
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0;
  margin: 0;
  list-style: none;
}
.menu li{
  height: inherit;
}

.menu li a{
  display: inline-flex;
  justify-content: end;
  align-items: center;
  color: #fff;
  font-size: 17px;
  transition: all .3s;
  height: inherit;
  border-radius: 45px;
  cursor: pointer;
}

.menu li a:hover{
  background-color: var(--primary-color-var);

  text-decoration: none;
  color: #fff;
  transform: scale(1.10);
}

.menu a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  transition: all .2s;
  width: 60px;
  height: 60px;
}

.menu a:hover{
  transform: scale(1.11);
  background-color: #637FFF;
}

.menu a svg{
  width: 21px;
  height: 21px;
  color: #fff !important;
}

.img {
  display: inline-flex;
  height: inherit;
  align-items: center;
}

.img img{
  height: 48px;
}

.contaside{
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color:#202020;
  color: #fff;
  width: 0;
  overflow: auto;
  transition: all .20s;
  border-left: none;
  overflow: hidden;
}

.contasideativado{
  width: 300px !important;
  border-left: groove 1px #000;
}

.contasidefix{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.headercont{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding-left: 15px;
  padding-right: 15px;
}

.headercont p{
  display: flex;
  color: white;
  font-size: 20px;
  margin: 0;
}

.headercont a{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background-color: #202020;
  transition: all .3s;
  cursor: pointer;
}

.headercont a:hover{
  background-color: #637FFF;
  transform: scale(1.1);
}

.headercont a svg{
  height: 26px;
  width: 26px;
  color: #fff;
}

.menuitem{
  display: flex;
  align-items: center;
  height: 42px;
  transition: all .2s;
  padding-left: 35px;
  padding-right: 35px;
}

.menuitem:hover, .menuitem:focus{
  transform: scale(1.05);
  text-decoration: none;
  cursor: pointer;
  background-color: #637FFF !important;
}

.menuitem span{
  width: 50px;
}

.menuitem span svg{
  height: 20px;
  width: 20px;
  color: white;
}

.menuitem p{
  color: white;
  margin: 0;
  font-size: 16px;
  text-decoration: none;
}

.cardmenu{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cardmenu div img{
  object-fit: cover;
  margin-top: 20px; 
  margin-bottom: 20px; 
  /* width: 100px; */
  height: 100px;
}

.cardmenu span{
  margin-top: 10px;
  color: white;
  font-weight: bold;
}