@font-face {
  font-family: 'Montserrat';
  src:
    url('/libs/font/Montserrat-Regular.ttf') format('truetype'),
    url('/libs/font/Montserrat-Bold.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
}

*::-webkit-scrollbar {
  width: 4px !important;
}

*.scroll-off::-webkit-scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 4px white; */
}

*::-webkit-scrollbar-thumb {
  background: #00d6b4;
  border-radius: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container-full-height{
  height: 100vh;
}



.flex-center{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* margin-top: 0px; */
}

.card-fixed-width{
  width: 300px;
}

.card-footer, .card-header{
  padding: 0 !important;
}

.card-footer{
  display: flex;
  justify-content: space-between;
}

.button{
  font-size: 1rem !important;
}

.form-control{
  margin-bottom: 5px !important;
}

.text-danger{
  font-size: 12px;
  margin-bottom: 5px;
}

.form-group{
  margin-bottom: 20px !important;
} 