@font-face {
  font-family: 'Montserrat';
  src:
    url('/libs/font/Montserrat-Regular.ttf') format('truetype'),
    url('/libs/font/Montserrat-Bold.ttf') format('truetype');
}

* {
  font-family: 'Montserrat';
}

*::-webkit-scrollbar {
  width: 4px !important;
}

*.scroll-off::-webkit-scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 4px white; */
}

*::-webkit-scrollbar-thumb {
  background: #f1555b;
}

body{
  margin: 0;
  padding: 0;
  background-color: #BABABA;
}