@font-face {
  font-family: 'Montserrat';
  src: url('/libs/font/Montserrat-Regular.ttf') format('truetype'),
    url('/libs/font/Montserrat-Bold.ttf') format('truetype');
}

* {
  font-family: 'Montserrat', sans-serif;
}

*::-webkit-scrollbar {
  width: 4px !important;
}

*.scroll-off::-webkit-scrollbar {
  width: 0px !important;
}

*::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 4px white; */
}

*::-webkit-scrollbar-thumb {
  background: #637fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ededed;
  overflow-x: hidden;
}

:root {
  --github-color: #333;
  --linkedin-color: #0e76a8;
  --facebook-color: #3b5998;
  --whatsapp-color: #25d366;
  --instagram-color: #c13584;
  --skype-color: #00aff0;
  --discord-color: #7080ce;
  --gitlab-color: #fc6d27;
  --mail-color: #637fff;
}
