.card {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 65px;
  height: calc(100vh - 65px);
}

.figure {
  object-fit: cover;
}

.conttext {
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: rgba(240, 248, 255, 0.42);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  align-self: center;
}

.text > * {
  margin-bottom: 20px;
}

.text p,
.text h1,
.text h2 {
  color: black;
}

.text p {
  font-size: 16px;
}

.text h1 {
  font-size: 40px;
}

.text h2 {
  font-size: 35px;
}
