.node{
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-bottom: 12px;
}

.node b{
  text-transform: capitalize;
  margin-bottom: 4px;
}

.inliner{
  display: flex;
  align-items: center;
}

.tag{
  display: inline-flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 7px;
  border: 1px solid  black;
}