.cont{
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: #ededed;
}

.title{
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.title h2{
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 100;
}

.text{
  margin-top: 30px;
  margin-bottom: 70px;
}

.text p{
  font-size: 16px;
  text-align: center;
}

.text p::first-letter{
  font-weight: bold;
  font-size: 20px;
}
  
.btn{
  display: flex;
  justify-content: center;
}