.cont {
  padding-top: 40px;
  padding-bottom: 80px;
  background-color: #f3f3f3;
}

.title {
  display: flex;
  justify-content: center;
  font-weight: 100;
}

.title h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 100;
}

.text {
  margin-top: 30px;
  margin-bottom: 70px;
}

.text p {
  font-size: 16px;
  text-align: center;
}

.text p::first-letter {
  font-weight: bold;
  font-size: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}

.btnContent {
  display: flex;
  justify-content: center;
}
